@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(./assets/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(./assets/fonts/Lausanne-500.woff2);
}
body, #root, .page-wrapper {
  background-color: #1a1a1a; /* or your app's background color */
}
.project{
  background-color: white;
}
.text-video video{
  border-radius: 20px;
}
.moveX{
  animation: moveAnimation 8s linear infinite;
}
@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.moveLink{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.link:hover .moveLink{
  opacity: 1;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
